@font-face {
  font-family:vagabond;
  src: url(./public/fonts/SOFTSUGARPLAIN.ttf) format("truetype");
}

@font-face {
  font-family: monserrat;
  src: url(./public/fonts/Montserrat-Regular.otf) format("opentype");
}

body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

/*navbar */
#navbar{
  display: flex;
  justify-content: end;
  width: 95vw;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 2vh;
}

#navbar a{
  margin-left: 3%;
  text-decoration: none;
  color: black;
  transition: color 1s ease;
}

#navbar a:hover{
  color: #1E0342;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

/*loading-line*/
#loading-line{
  width: 0vw;
  background-color: black;
  height: 0.1vw;
  display: flex;
  align-content: center;
  margin-top: 2vh;
}

/*vagabond title*/
#vagabond-title{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}

#vagabond-title h1{
  font-family: vagabond;
  font-size: 4em;
}


#vagabond-title img{
  width: 25vw;
}

#vagabond-title .author{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* scrollable mouse */

.scroll-downs {
  position: relative;
  left: 49%;
  
  width :24px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 25px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
